<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BibleButton</title>
</head>
<body>
    <h2>Click the button</h2>

    <form action="/print" method="post">
        <button type="submit">The Button</button>
    </form>

    <p th:text="${quote.text}"></p>

    <p><strong>Book</strong> <span th:text="${quote.book}"></span>
        <strong>Chapter:Verse</strong>
        <span th:text="${quote.chapter} + ':' + ${quote.verse}"></span></p>
</body>
</html>