<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <title>BibleButton</title>
</head>
<body>
    <h2>Click the button</h2>

    <button hx-post="/print"
            hx-target="#quote-container"
            hx-swap="innerHTML"
            hx-indicator="#loading"
            hx-disabled-elt="this">
        The Button
    </button>

    <div id="quote-container">

    </div>

</body>
</html>